<ul class="nav nav-tabs">
  <li class="nav-item nav-link"><%= link_to '首頁', restaurants_path %></li>
  <li class="nav-item nav-link"><%= link_to '最新動態', feeds_restaurants_path %></li>
  <li class="nav-item nav-link active"><%= link_to 'TOP10餐廳', ranking_restaurants_path %></li>
</ul>
<br>
